.header {
    width: 100%;
    height: $header-height;
    background-color: $colour-primary;
    position: relative;

    .logo-container {
        width: $header-height;
        height: $header-height;
        display: inline-block;

        &:hover {
            background-color: $colour-primary-dark;
            cursor: pointer;

            .logo {
                @include transform-rotate(360deg);
            }
        }

        .logo {
            @include transition-transform();
            @include transition-duration(1s);
            width: $header-height;
            height: $header-height;
            padding: 15px;
            overflow: hidden;
        }
    }

    .desktop-nav {
        float: right;
        line-height: $header-height;
    }

    .dropdown {
        float: right;
        height: $header-height;
        line-height: $header-height;
        padding-right: 12px;

        &:hover .mobile-nav {
            display: block;
        }

        .mobile-nav {
            display: none;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            position: fixed;
            right: 0;
            top: 0;
            margin: 0;
            margin-top: $header-height;
            z-index: 100;

            li {
                float: none;
                padding: 0 15px;
            }

            a {
                color: #444;
                display: block;
                font-size: 1rem;
                height: $header-height;
                line-height: $header-height;
                padding: 0 15px;
            }
        }
    }
}
