.result-page {
    padding-top: 30px;
    min-height: calc(100% - #{$header-height});

    .result-query {
        text-align: center;
        font-size: 40px;
        margin: 0px 0px 12px;
        color: $colour-gold;
    }

    .result-count {
        text-align: center;
        font-size: 18px;
        margin: 0px 0px 16px;
        color: grey;
    }

    .result-filter {
        width: 60%;
        height: 30px;
        text-align: center;
        border: 1px solid grey;
        border-radius: 6px;
        margin: 0 auto;
        display: block;
        color: grey;

        &:focus {
            outline: none;
            border: 2px solid $colour-primary-light;
        }
    }

    .translation-select {
        width: 60%;
        text-align: center;
        margin: 20px auto;
        border: 1px solid grey;
        border-radius: 6px;
        height: 30px;

        &:focus {
            outline: none;
            border: 2px solid $colour-primary-light;
        }
    }

    .result-list {
        text-align: center;
    }

    .pagination {
        text-align: center;
        margin-bottom: 30px;

        .pagination-number, .next:not(.disabled), .previous:not(.disabled) {
            cursor: pointer;

            &.active {
                background-color: $colour-primary;
            }

            &:hover {
                background-color: $colour-primary-light;

                a {
                    color: white;
                }
            }
        }
    }

    .new-search-bottom {
        display: block;
        text-align: center;
        margin: 10px auto 40px;
        font-size: 20px;
    }
}
