.result-page {
    padding-top: 30px;
    min-height: calc(100% - #{$header-height});

    .result-query {
        text-align: center;
        font-size: 40px;
        margin: 0px 0px 12px;
        color: $colour-gold;
    }

    .result-count {
        text-align: center;
        font-size: 18px;
        margin: 0px 0px 16px;
        color: grey;
    }

    .result-filter {
        width: 90%;
        height: 28px;
        text-align: center;
        border: 1px solid grey;
        border-radius: 14px;
        margin: 0 auto;
        display: block;
        color: grey;

        &:focus {
            outline: none;
        }
    }

    .result-list {
        text-align: center;
    }
}
