.result-box {
    @include card-shadow(#CCC);
    background-color: $colour-primary;
    color: white;
    width: 230px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    border-radius: 4px;

    .surah-name {
        display: inline-block;
        width: 140px;
        text-align: left;

        p {
            margin: 0;
        }
    }

    .surah-index {
        vertical-align: top;
        width: 70px;
        display: inline-block;
        text-align: right;
    }

    &:hover {
        cursor: pointer;
    }
}
