.error-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: inherit;

    .content {
        margin: 15px;
    }
}

.error-page-header {
    width: 100%;
    height: $header-height;
    background-color: $colour-primary;
    text-align: left;

    .logo-container {
        width: $header-height;
        height: $header-height;
        display: inline-block;

        &:hover {
            background-color: $colour-primary-dark;
            cursor: pointer;

            .logo {
                @include transform-rotate(360deg);
            }
        }

        .logo {
            @include transition-transform();
            @include transition-duration(1s);
            width: $header-height;
            height: $header-height;
            padding: 15px;
            overflow: hidden;
        }
    }
}
