html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
}

body#home-page {
    background: url(/static/img/background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#container {
    height: 100%;
    position: relative;
    width: 100%;
}

#home-page {
    h1#app-title {
        color: white;
        font-size: 80px;
        margin: 0px;
        padding-left: 20px;
        padding-top: 20px;
        text-align: center;
        text-shadow: 2px 2px #000;
        width: 100%;
    }

    #app-store-link img {
        bottom: 90px;
        left: 32px;
        position: absolute;
        width: 165px;
    }

    #play-link img {
        bottom: 20px;
        left: 20px;
        position: absolute;
        width: 190px;
    }

    #try-webapp-button {
        background-color: $colour-primary;
        border-radius: 10px;
        border: 2px solid white;
        bottom: 35px;
        color: white;
        font-size: 20px;
        padding: 10px;
        position: absolute;
        right: 35px;
        text-align: center;
        width: 180px;
    }

    a.download-button {
        bottom: 10px;
        position: absolute;
        right: 10px;
    }

    i.more-arrow {
        bottom: 10px;
        color: white;
        font-size: 50px;
        left: 50%;
        margin-left: -25px;
        position: absolute;
    }

    #home-content {
        background-color: white;
        min-height: 100%;
        width: 100%;

        .row {
            margin-bottom: 0px;
        }

        #details {
            padding: 50px 5%;

            .detail-title {
                margin-top: 0px;
            }

            .detail-subtitle {
                font-size: 21px;
                margin-bottom: 0px;
                margin-top: 30px;
            }

            ul li {
                font-size: 18px;
                list-style: disc;
                margin-left: 40px;
            }

            #contact-message {
                font-size: 18px;
                margin: 10px 0px 0px;
            }
        }

        img#app-preview {
            padding: 50px 5%;
            width: 100%;
        }
    }
}

@media (max-width: $responsive-tablet-width) {
    #home-page {
        #app-store-link img {
            bottom: 80px;
            left: 25px;
            width: 130px;
        }

        #play-link img {
            bottom: 15px;
            left: 15px;
            width: 150px;
        }

        #try-webapp-button {
            bottom: 25px;
            font-size: 14px;
            padding: 7px;
            right: 25px;
            width: 135px;
        }
    }
}

@media (max-width: $responsive-phone-width) {
    #home-page {
        #app-store-link img {
            bottom: 60px;
            left: 17px;
            width: 115px;
        }

        #play-link img {
            bottom: 10px;
            left: 10px;
            width: 130px;
        }

        #try-webapp-button {
            bottom: 18px;
            font-size: 14px;
            padding: 5px;
            right: 18px;
            width: 115px;
        }
    }
}
