// Colours
$colour-primary: #059184;
$colour-primary-dark: #02695E;
$colour-primary-light: #8ED2C9;
$colour-mic-inactive: rgb(96, 96, 96);
$colour-gold: rgb(218, 165, 32);

// Sizes
$header-height: 70px;
$responsive-tablet-width: 768px;
$responsive-phone-width: 380px;
$responsive-phone-height: 460px;
