<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Iqra App | Not Found</title>

  <!-- Behavioral Meta Data -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Core Meta Data -->
  <meta name="author" content="Crescent Labs">
  <meta name="description" content="Recite an ayah or a single word, and watch as Iqra uses voice recognition and custom algorithms to find the matches in the Quran!">
  <meta name="keywords" content="iqra,quran,ayah,surah,muslim,islam,koran,holy,book,recite,read">

  <!-- Open Graph Meta Data -->
  <meta property="og:title" content="Iqra App">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ url_for('static', filename='favicons/favicon-194x194.png') }}">
  <meta property="og:url" content="https://iqraapp.com/error">
  <meta property="og:description" content="Recite an ayah or a single word, and watch as Iqra uses voice recognition and custom algorithms to find the matches in the Quran!">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicons/apple-touch-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicons/apple-touch-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicons/apple-touch-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicons/apple-touch-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicons/apple-touch-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicons/apple-touch-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicons/apple-touch-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicons/apple-touch-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon-180x180.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-194x194.png') }}" sizes="194x194">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-96x96.png') }}" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/android-chrome-192x192.png') }}" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}" sizes="16x16">
  <link rel="manifest" href="{{ url_for('static', filename='favicons/manifest.json') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#059184">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicons/mstile-144x144.png') }}">
  <meta name="theme-color" content="#059184">

  <!-- Styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ cssSource }}">
</head>

<body>
  <nav>
    <div class="header">
      <a href="/" class="logo-container">
        <img src="/static/img/logo.png" class="logo" alt="logo" />
      </a>
      <ul class="right desktop-nav hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/app/search">Search</a></li>
        <li><a href="/contributors">Contributors</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile">
        <li><a href="/">Home</a></li>
        <li><a href="/app/search">Search</a></li>
        <li><a href="/contributors">Contributors</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <a href="#" data-activates="mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
  <div class="not-found-page">
    <img src="static/img/logo-green.png" alt="logo" class="logo-image" />
    <p class="content">Sorry, this page could not be found.</p>
    <div class="button-container">
      <a class="button" href="/">Return home</a>
      <a class="button" href="/app/search">Perform a search</a>
    </div>
  </div>

  <!-- Javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <script>
    $('.button-collapse').sideNav({
      edge: 'right',
      closeOnClick: true,
    });
  </script>

  <!-- Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75023193-2', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
